/*全局css配置*/
/*字体规范css*/


.max-title {
  font-weight: bold;
  font-size: 1.95em;
}

.part-title {
  font-weight: bold;
  font-size: 1.5em;
}

.tag-text {
  font-weight: bold;
  font-size: 1.2em;
}

.normal-text {
  font-weight: normal;
  font-size: 1.2em;
}

.comment-text {
  font-weight: normal;
  font-size: 1.05em;
}

.icon-text {
  font-weight: normal;
  font-size: 0.75em;
}
/**/

